#container {
   width:700px;
   margin-left:auto;
   margin-right:auto;
   margin-bottom:100px;
   margin-top:50px;
}

/* Taken from the I Love Typography style as demonstrated here: http://3.7designs.co/blog/2008/06/10-examples-of-beautiful-css-typography-and-how-they-did-it/ */

h1 {
    font-family: "Lucida Grande", Tahoma;
    font-size:22px;
	margin-top: 0px; margin-bottom: 0px;
	text-align: left;
    font-weight: bold;
    color: #222;
    text-shadow: 1px 1px #cccccc;
}

h2 {
    font-family: "Lucida Grande", Tahoma;
	font-size: 28px;
	font-variant: normal;
	text-transform: uppercase;
	color: #333;
    margin-top: 10px;
	text-align: center!important;
	letter-spacing: 0.3em;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 20px;
    /* text-indent:2em; */
    /* padding-left:10px; */
}

a:link {
color: #ff6600;
font-weight: bold;
}

/* visited link */
a:visited {
color: #ff6600;
font-weight: bold;
}

.code {
    font-family: Courier New, Courier;
    font-size: 15px;
    line-height: 20px;
    color: #0099CC;
    /* text-indent:2em; */
    padding-left:8px;
}